/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* Reset End */

:root {
    /* Based on Solarized Theme by Ethan Schoonover */
    /* Background tones (light theme) */
    --white: #e9dabd;
    --brwhite: #fdf6e3;
    --accentwhite: #d4b596;
    --accentwhite70: rgba(212, 181, 150, 0.7);

    /* Accent tones */
    --brblack: #002b36;
    --black: #073642;
    --yellow: #b58900;
    --brred: #cb4b16;
    --red: #dc322f;
    --red25: rgba(220, 50, 47, 0.25);
    --orange: #ca501e;
    --magenta: #d33682;
    --brmagenta: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    color: var(--brblack);
}

body {
    background-color: var(--white);
}

button {
    background-color: inherit;
    border: none;
    cursor: pointer;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: inherit;
    color: inherit;
}

.master-grid {
    display: grid;
    grid-template-columns: minmax(275px, 1fr) 4fr;
}

.sidebar {
    background-color: var(--white);
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    line-height: 40px;
    border-right: solid 1px var(--accentwhite);
}

.logo {
    font-size: 2.6rem;
    margin-bottom: 30px;
}

.static-sidebar-items {
    margin: 30px 0 60px 0;
}

.fa-solid {
    width: 60px;
    text-align: center;
}

.list-inner-flex {
    width: 80%;
    display: flex;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 3px;
}

.list-inner-flex:hover {
    background-color: var(--accentwhite);
    transition: 0.3s;
}

.active {
    background-color: var(--accentwhite);
    transition: 0.3s;
}

/* .list-inner-flex > */
/* a > span:hover {
    font-weight: 600;
} */

.nav-list-container {
    padding: 0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

/* .nav-list-header {
    font-weight: 500;
    vertical-align: baseline;
} */

.nav-list-child {
    font-size: 1.1rem;
    font-weight: 380;
}

.sidebar-footer {
    margin-top: auto;
    padding: 0 20px 0 20px;
    border-top: solid 1px var(--accentwhite);
    height: 50px;
    display: flex;
    align-items: center;
}

.new-list-btn {
    margin-left: 4px;
    width: 160px;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: 0.3s;
}

.new-list-btn > i {
    padding: 0;
    margin: 0 5px 0 20px;
    width: 30px;
    vertical-align: middle;
    position: relative;
    top: 1px;
}

.new-list-btn > span,
.new-list-btn > i {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}

.new-list-btn:hover {
    background-color: var(--accentwhite);
    border-radius: 20px;
    transition: 0.3s;
}

.settings-btn {
    margin-left: auto;
}

.settings-btn > i {
    position: relative;
    top: 1px;
}

.container {
    display: flex;
    flex-direction: column;  
    /* gap: 25px; */
    padding-top: 60px;
    padding-left: 140px;
    justify-items: center;
}

.page-name {
    margin-bottom: 30px;
}

.task-container {
    display: flex;
    align-items: center;
    width: 70%;
    border-top: 1px solid var(--accentwhite);
    padding: 10px 0 10px 0;

    opacity: 1;
    transform: translateX(0);
    transition: all 1s ease-out;
}

.task-container:hover {
    background-color: var(--accentwhite70);
}

.task-container.fade-out {
    opacity: 0;
    transform: translateX(30%);
}

.check-btn-div {
    margin-left: 50px;
}

.task-wrapper {
    padding-left: 30px;
}

.title {
    font-size: 1.1rem;
}

.due-date {
    margin-right: 5px;
    line-height: 10px;
}

.due-date,
.date-span {
    font-size: 0.9rem;
}

.date-span {
    color: var(--green);
    font-weight: 500;
}

.task-right-icons {
    margin-left: auto;
    margin-right: 50px;
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-right-icons > button {
    padding: 0;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-right-icons > button > .fa-solid {
    padding: 0;
    margin: 10px;
    width: 20px;
    font-size: 1.3rem;
    color: var(--red25);
    transition: 0.3s;
}

.task-right-icons > button > .fa-solid:hover {
    color: var(--red);
    -webkit-text-fill-color: var(--red);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--red);
    transition: 0.3s;
}

.task-right-icons > button > .fa-solid.starred {
    color: #f9ed69;
    -webkit-text-fill-color: #f9ed69;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--brblack);
    transition: 0.3s;
}

.new-task-btn {
    display: flex;
    align-items: center;
    width: 70%;
    height: 60px;
    padding-bottom: 20px;
    padding-left: 52px;
    padding-top: 15px;
    margin-top: 0;
    /* border-radius: 25px; */
    border-top: 1px solid var(--accentwhite);
    transition: 0.3s;
}

.new-task-btn > .fa-solid {
    width: 0 !important;
    margin-right: 45px;
    position: relative;
    top: 1px;
}

.new-task-btn > span {
    font-weight: 600;
    margin-right: 30px;
}

.new-task-btn:hover {
    background-color: var(--accentwhite);
    transition: 0.3s;
    opacity: 80%;
    border-radius: 50px;
}

.prompt-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
}

.prompt-overlay.active {
    opacity: 1;
    visibility: visible;
}

.prompt-container {
    position: fixed;
    bottom: 50%;

    width: 70%;
    height: 70px;
    border-radius: 10px;
    background-color: var(--brwhite); 
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.35);
    opacity: 0;
    transform: scale(0.95) translateY(10px);
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1),
                opacity 0.3s ease-out;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 60px;
}

.prompt-overlay.active .prompt-container {
    opacity: 1;
    transform: scale(1) translateY(0);
  }

.prompt-container > i.fa-plus {
    font-size: 1.8rem;
    position: relative;
    top: 2px;
    width: 20px;
    margin-left: 50px;

    transition: 0.3s;
}

.new-list-prompt-form {
    width: 80%;
    display: flex;
    align-items: center;
}

.new-list-prompt-form > input {
    width: 100%;
    height: 60px;
    vertical-align: bottom;
    font-size: 1.8rem;

    background-color: var(--brwhite);
    border: none;
}

.submit-btn {
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
}

.submit-btn > i.fa-check {
    width: 50px;
    height: 50px;
    font-size: 2.5rem;
    color: var(--green);

    transition: 0.3s;
}

.submit-btn > i.fa-check::before {
    position: relative;
    top: 5px;
}

.submit-btn > i.fa-check:hover {
    border-radius: 50px;
    background-color: var(--green);
    color: var(--brwhite);
}

.task-prompt-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
}

.task-prompt-overlay.active {
    opacity: 1;
    visibility: visible;
}

.task-prompt-container {
    position: fixed;
    bottom: 30%;

    width: 800px;
    height: 430px;
    border-radius: 10px;
    background-color: var(--brwhite); 
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.35);
    opacity: 0;
    transform: scale(0.95) translateY(10px);
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1),
                opacity 0.3s ease-out;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    /* padding-top: 13px; */
}

.task-prompt-overlay.active .task-prompt-container {
    opacity: 1;
    transform: scale(1) translateY(0);
}

.new-task-prompt-form {
    width: 90%;
    display: grid;
    grid-template-columns: 50px 150px 5fr;
    grid-template-rows: 60px 120px 60px 60px;
    align-items: center;
    gap: 30px;
}

.new-task-prompt-form > i {
    width: 20px;
    align-self: center;
    justify-self: center;
    position: relative;
    font-size: 1.1rem;
    top: 1px;
}

.task-prompt-indicator {
    /* justify-self: center; */
    font-size: 1.2rem;
    font-weight: 600;
}

.new-task-prompt-form > input {
    width: 100%;
    height: 60px;
    vertical-align: bottom;
    font-size: 1.2rem;

    border-radius: 10px;
    background-color: var(--white);
    border: solid 1px var(--accentwhite);
    padding-left: 20px;
}

.new-task-prompt-form > input[type="date"] {
    width: 220px;
    cursor: pointer;
    padding-right: 20px;
}

.task-submit-btn {
    grid-column: 3;
    align-self: center;
    justify-self: center;

    margin: 0;
    padding: 0;
    width: 300px;
    height: 50px;
}

.task-submit-btn > i.fa-check {
    width: 300px;
    height: 50px;
    font-size: 2.5rem;
    color: var(--green);
    border: 1px solid var(--accentwhite);
    border-radius: 10px;

    transition: 0.3s;
}

.task-submit-btn > i.fa-check::before {
    position: relative;
    top: 5px;
}

.task-submit-btn > i.fa-check:hover {
    border-radius: 50px;
    background-color: var(--green);
    color: var(--brwhite);
}

/* Checkbox, adapted from https://uiverse.io/mrhyddenn/slippery-bear-64 */
.check {
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}
  
.check:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(34,50,84,0.03);
    opacity: 0;
    transition: opacity 0.2s ease;
}
  
.check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--black);
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
}

.check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
}
  
.check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
}
  
.check:hover:before {
    opacity: 1;
}
  
.check:hover svg {
    stroke: var(--blue);
}
  
/* Changed from #cbx to .custom-checkbox */
.custom-checkbox:checked + .check svg {
    stroke: var(--blue);
}
  
.custom-checkbox:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
}
  
.custom-checkbox:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
}
  